<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nest Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg" />
        <!-- Template CSS -->
        <link href="/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
        <style>
            .disabled-div {
                pointer-events: none; /* Blocks all mouse interactions */
                opacity: 0.6;         /* Visually dims the content */
                cursor: not-allowed;  /* Optional: Changes cursor to indicate disabled state */
            }
        </style>
    </head>

    <body>
        <div class="screen-overlay"></div>
        
        <%- include(`./partials/admin/aside`) %>

        <main class="main-wrap">
            
            <%- include(`./partials/admin/header`) %>

            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order detail</h2>
                        <p>Details for Order ID: <%= order._id.toString().slice(12) %></p>
                    </div>
                </div>
                <div class="alert alert-danger" style="display: none" id="order-details-alert" role="alert">
                    A simple danger alert—check it out!
                </div>
                <div class="card">
                    <header class="card-header">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                                <span> <i class="material-icons md-calendar_today"></i> <b><%= new Date(order.createdAt).toLocaleString("en-IN", { 
                                    day: "numeric", 
                                    month: "short", 
                                    year: "numeric", 
                                    hour: "numeric", 
                                    minute: "numeric", 
                                    hour12: true 
                                }).replace(" at", ", ") %></b> </span> <br />
                                <small class="text-muted">Order ID: <%= order._id.toString().slice(12) %></small>
                            </div>
                            <div class="d-none col-lg-6 col-md-6 ms-auto text-md-end">
                                <form id="change-order-status-form" data-id="<%= order._id %>">
                                    <select name="changeOrderStatus" class="form-select d-inline-block mb-lg-0 mr-5 mw-200">
                                        <option hidden disabled selected value>Change Order Status</option>
                                        <option value="processing">Processing</option>
                                        <option value="shipped">Shipped</option>
                                        <option value="delivered">Delivered</option>
                                        <option value="cancelled">Cancelled</option>
                                    </select>
                                    <button type="submit" class="btn btn-primary" href="#">Save</button>
                                </form>
                                
                                <!-- <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a> -->
                            </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="row mb-50 mt-20 order-info-wrap">
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-person"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Customer</h6>
                                        <p class="mb-1">
                                            <%= order.owner.fullname %> <br />
                                            <%= order.owner.email %> <br />
                                            +91 <%= order.owner.phone %>
                                        </p>
                                        <!-- <a href="#">View profile</a> -->
                                    </div>
                                </article>
                            </div>
                            <!-- col// -->
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-local_shipping"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Order info</h6>
                                        <p class="mb-1">
                                            Shipping: Delhivery <br />
                                            Pay method: <%= order.paymentInfo.mode %> <br />
                                            <div>Status: <% if (order.orderStatus == "cancelled") { %> 
                                                <p id="order-status" class="badge rounded-pill alert-danger text-danger"><%= order.orderStatus %></p>
                                                <% } else { %>
                                                    <p id="order-status" class="badge rounded-pill alert-success text-success"><%= order.orderStatus %></p>
                                                <% } %>
                                            </div>
                                        </p> 
                                        <!-- <a href="#">Download info</a> -->
                                    </div>
                                </article>
                            </div>
                            <!-- col// -->
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-place"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Deliver to</h6>
                                        <p class="mb-1">
                                            City: <%= order.address.city %>, <%= order.address.state %> <br /><%= order.address.address %> <br />
                                            Po Box <%= order.address.pincode %>
                                        </p>
                                        <!-- <a href="#">View profile</a> -->
                                    </div>
                                </article>
                            </div>
                            <!-- col// -->
                        </div>
                        <!-- row // -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <% order.orderItems.forEach(item => { %>
                                                <tr class="border">
                                                    <td class="p-4">
                                                        <a class="itemside" href="#">
                                                            <div class="left">
                                                                <img src="/<%= item.product.images[0] %>" width="60" height="60" class="img-s" alt="Item" />
                                                            </div>
                                                            <div class="ms-3">
                                                                <div class="h6 mb-0"><%= item.product.productname %></div>
                                                                <span class="small text-secondary">Quantity: <%= item.quantity %></span>
                                                            </div>
                                                        </a>
                                                    </td>
                                                    <td class="h6 px-4" >₹<%= item.price * item.quantity %></td>
                                                    <td class="px-4">
                                                        <%
                                                            const statusMap = {
                                                                created: {text: "CREATED", class: "alert-warning"},
                                                                confirmed: {text: "CONFIRMED", class: "alert-warning"},
                                                                processing: {text: "PROCESSING", class: "alert-primary"},
                                                                shipped: {text: "SHIPPED", class: "alert-primary"},
                                                                delivered: {text: "DELIVERED", class: "alert-success"},
                                                                cancelled: {text: "CANCELLED", class: "alert-danger"},
                                                            }

                                                            const returnMap = {
                                                                none: {text: "", class: "d-none"},
                                                                requested: {text: "RETURN REQUESTED", class: "alert-warning"},
                                                                approved: {text: "RETURN APPROVED", class: "alert-primary"},
                                                                rejected: {text: "RETURN REJECTED", class: "alert-danger"},
                                                                refunded: {text: "RETURNED&REFUNDED", class: "alert-success"}
                                                            }

                                                            let statusData = statusMap[item.status];
                                                            let returnData = returnMap[item.returnStatus];

                                                        %>

                                                        <div>
                                                            <p id="order-status-<%= item._id %>" class="badge rounded-pill <%= statusData.class %>"><%= statusData.text %></p>
                                                            <a data-bs-toggle="modal" data-bs-target="#return-order-modal" data-orderid="<%= order._id %>" data-itemid="<%= item._id %>"data-returnReason="<%=item.returnReason || "Other"%>" class=" <%# allowedAction ? "" : "disabled" %>" >
                                                                <p id="return-status-<%= item._id %>" class="badge rounded-pill <%= returnData.class %>"><%= returnData.text %></p>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="<%= item.status === "delivered" ? "d-none" : "" %>">
                                                            <form id="change-order-status-form-<%= item._id %>" class="change-order-status-form d-flex justify-content-start gap-1" data-order-id="<%= order._id %>" data-item-id="<%= item._id %>">
                                                                <select name="changeOrderStatus" class="form-select d-inline-block mb-lg-0 mr-5 mw-200">
                                                                    <option hidden disabled selected value>Change Order Status</option>
                                                                    <option value="confirmed">Confirmed</option>
                                                                    <option value="processing">Processing</option>
                                                                    <option value="shipped">Shipped</option>
                                                                    <option value="delivered">Delivered</option>
                                                                    <option value="cancelled">Cancelled</option>
                                                                </select>
                                                                <button type="submit" class="btn btn-primary" href="#">Save</button>
                                                            </form>
                                                        </div>
                                                    </td>
                                                    <!-- <td class="text-end">₹<%# item.price * item.quantity %></td> -->
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row mt-2 pt-2 align-items-center">
                                    <div class="col-lg-4">
                                        <div class="box shadow-sm bg-light">
                                            <h6 class="mb-15">Payment info</h6>
                                            <p>
                                                <img src="/assets/imgs/card-brands/2.png" class="border" height="20" /> Master Card **** **** 4768 <br />
                                                Business name: Grand Market LLC <br />
                                                Phone: +1 (800) 555-154-52
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-4">
                                        <article class="float-end">
                                            <dl class="dlist">
                                                <dt>Subtotal:</dt>
                                                <dd>₹<%= order.totalPrice %></dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Shipping cost:</dt>
                                                <dd>0.00</dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Grand total:</dt>
                                                <dd><b class="h5">₹<%= order.totalPrice %></b></dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt class="text-muted">Status:</dt>
                                                <dd>
                                                    <span class="badge rounded-pill alert-success text-success">Payment <%= order.paymentInfo.status %></span>
                                                </dd>
                                            </dl>
                                        </article>
                                    </div>
                                </div>
                                <!-- table-responsive// -->
                            </div>
                            <!-- col// -->
                            <!-- col// -->
                        </div>
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
            </section>

            <div class="toast" id="admin-order-details-page-toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; bottom: 2rem; right: 1rem; z-index: 1055; width: 350px;">
                <div class="toast-header bg-dark text-white justify-content-center" id="toast-header">

                    <div class="d-flex p-2">
                        
                        <svg id="success-toast" class="d-none toast-icon" fill="#28a745" width="24px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <title>checkmark</title>
                            <path d="M16 3c-7.18 0-13 5.82-13 13s5.82 13 13 13 13-5.82 13-13-5.82-13-13-13zM23.258 12.307l-9.486 9.485c-0.238 0.237-0.623 0.237-0.861 0l-0.191-0.191-0.001 0.001-5.219-5.256c-0.238-0.238-0.238-0.624 0-0.862l1.294-1.293c0.238-0.238 0.624-0.238 0.862 0l3.689 3.716 7.756-7.756c0.238-0.238 0.624-0.238 0.862 0l1.294 1.294c0.239 0.237 0.239 0.623 0.001 0.862z"></path>
                        </svg>

                        <svg id="warning-toast" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--emojione d-none toast-icon" width="24px" preserveAspectRatio="xMidYMid meet" fill="#000000" transform="rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M5.9 62c-3.3 0-4.8-2.4-3.3-5.3L29.3 4.2c1.5-2.9 3.9-2.9 5.4 0l26.7 52.5c1.5 2.9 0 5.3-3.3 5.3H5.9z" fill="#ffce31"> </path> <g fill="#231f20"> <path d="M27.8 23.6l2.8 18.5c.3 1.8 2.6 1.8 2.9 0l2.7-18.5c.5-7.2-8.9-7.2-8.4 0"> </path> <circle cx="32" cy="49.6" r="4.2"> </circle> </g> </g></svg>


                        <svg id="failure-toast" class="d-none toast-icon" version="1.1"  fill="#DC3545" width="24px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M256,0C114.615,0,0,114.615,0,256s114.615,256,256,256s256-114.615,256-256S397.385,0,256,0z M327.115,365.904
                                        L256,294.789l-71.115,71.115l-38.789-38.789L217.211,256l-71.115-71.115l38.789-38.789L256,217.211l71.115-71.115l38.789,38.789
                                        L294.789,256l71.115,71.115L327.115,365.904z"/>
                                </g>
                            </g>
                        </svg>

                        <span class="ms-2" id="toast-title" style="font-size: 14px;">Notification</span>

                    </div>

                    <!-- <button type="button" class="ms-2 mb-1 btn btn-outline-secondary" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                </div>
            </div>

            <div class="modal fade" id="return-order-modal" tabindex="-1" role="dialog" aria-labelledby="returnOrderModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header alert-success p-2 ps-4 mb-0">
                            <h5 class="modal-title" id="return-order-header">
                                The user have raised a return request
                            </h5>
                            <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <div class="m-4">
                            <div class="d-flex align-items-center mb-1">
                                <p id="returnReasonModalBody" class="">A well-known quote, contained in a blockquote element.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form id="change-return-status-form" class="change-return-status-form d-flex justify-content-start gap-1">
                            <select name="returnStatus" class="form-select d-inline-block mb-lg-0 mr-5 mw-200">
                                <option hidden disabled selected value>Change Return Status</option>
                                <option value="approved">Approved</option>
                                <option value="rejected">Rejected</option>
                                <option value="refunded">Refunded</option>
                            </select>
                            <button type="submit" class="btn btn-primary" href="#">Save</button>
                        </form>
                    </div>
                </div>
                </div>
            </div>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>

        <script type="module">
            import {triggerToast, setError} from '/assets/js/fetch/validationHelpers.js'

            const forms = document.querySelectorAll(".change-order-status-form");
            forms.forEach(form => {
                form.addEventListener("submit", async function(e){
    
                    e.preventDefault();
                    const orderId = this.getAttribute("data-order-id");
                    const itemId = this.getAttribute("data-item-id");
                    const status = this.querySelector("select").value;
                    console.log(orderId, itemId, status);
                    const response = await fetch(`/api/admin/orders/${orderId}/item/${itemId}`, {
                        method: "PATCH",
                        headers: {"Content-Type" : "application/json"},
                        body: JSON.stringify({status})
                    })
    
                    const data = await response.json();
    
                    if (!data.success){
                        triggerToast('failure', data.error || "soemthing went wrong");
                        // document.getElementById("order-details-alert").textContent = data.error;
                        // document.getElementById("order-details-alert").className = "alert alert-danger";
                        // document.getElementById("order-details-alert").style.display = "block";
                                    
                    } else {

                        if (data.orderStatus == "cancelled"){
                            document.getElementById(`order-status-${itemId}`).className = "badge rounded-pill alert-danger";
                        } else {
                            document.getElementById(`order-status-${itemId}`).className = "badge rounded-pill alert-success";
                        }
    
                        document.getElementById(`order-status-${itemId}`).textContent = data.orderStatus.toUpperCase();
                        triggerToast('success', `${data.message} to ${data.orderStatus.toUpperCase()} ` || "Operation successful!");
                        // document.getElementById("order-details-alert").textContent = data.message;
                        // document.getElementById("order-details-alert").className = "alert alert-success";
                        // document.getElementById("order-details-alert").style.display = "block";
                    }
    
                })
            })


            const returnStatusModal = document.getElementById('return-order-modal');
            let reason, orderId, itemId;
            returnStatusModal.addEventListener('show.bs.modal', function(e){
                const states = {broken:"Received broken/damaged item", wrong: "Received wrong item", defective: "The product received is defective", missing: "The product is missing in the package"};
                const button = e.relatedTarget;
                reason = states[button.dataset.returnreason] || button.dataset.returnreason;
                orderId = button.dataset.orderid;
                itemId = button.dataset.itemid;
                document.getElementById('returnReasonModalBody').textContent = reason;
            });

            document.getElementById('change-return-status-form').addEventListener('submit', async function(e){
                e.preventDefault();
                const formData = Object.fromEntries(new FormData(this));
                console.log(formData);

                if(!formData.returnStatus){
                    setError(document.querySelector('[name="returnStatus"]'), 'Save');
                    return;
                };

                const response = await fetch(`/api/admin/orders/${orderId}/item/${itemId}`, {
                    method: 'PATCH',
                    headers: {'Content-Type' : 'application/json'},
                    body: JSON.stringify(formData)
                });

                const data = await response.json();
            });

        </script>
        <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/vendors/select2.min.js"></script>
        <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/assets/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>
