<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nest Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg" />
        <!-- Template CSS -->
        <link href="/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="screen-overlay"></div>
        
        <%- include(`./partials/admin/aside`) %>

        <main class="main-wrap">
            
            <%- include(`./partials/admin/header`) %>

            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Products List</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div>
                        <a href="#" class="btn btn-light rounded font-md">Export</a>
                        <a href="#" class="btn btn-light rounded font-md">Import</a>
                        <a href="#" class="btn btn-primary btn-sm rounded">Create new</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row align-items-center">
                            <div class="col col-check flex-grow-0">
                                <div class="form-check ms-2">
                                    <input class="form-check-input" type="checkbox" value="" />
                                </div>
                            </div>
                            <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                                <select class="form-select">
                                    <option selected>All category</option>
                                    <option>Electronics</option>
                                    <option>Clothes</option>
                                    <option>Automobile</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-6">
                                <input type="date" value="02.05.2021" class="form-control" />
                            </div>
                            <div class="col-md-2 col-6">
                                <select class="form-select">
                                    <option selected>Status</option>
                                    <option>Active</option>
                                    <option>Disabled</option>
                                    <option>Show all</option>
                                </select>
                            </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <% productdata.forEach(product => { %>
                            <article class="itemlist">
                                <div class="row align-items-center">
                                    <!-- <div class="col col-check flex-grow-0">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" />
                                        </div>
                                    </div> -->
                                    <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                        <a class="itemside" href="#">
                                            <div class="left">
                                                <img src="../../<%= product.images[0] %>" class="img-sm img-thumbnail" alt="Item" />
                                            </div>
                                            <div class="info">
                                                <h6 class="mb-0"><%= product.productname %></h6>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-4 col-price"><span>₹<%= product.price %></span></div>
                                    <div class="col-lg-2 col-sm-2 col-4 col-status">

                                    <% if(product.isUnListed) { %>
                                        <span class="badge rounded-pill alert-danger">Unlisted</span>
                                    <% } else {%>
                                        <span class="badge rounded-pill alert-success">Active</span>
                                    <% } %>

                                    </div>
                                    <!-- <div class="col-lg-1 col-sm-2 col-4 col-date">
                                        <span><%# new Date(product.createdAt).toLocaleString("en-IN", { 
                                            day: "numeric", 
                                            month: "short", 
                                            year: "numeric", 
                                            hour: "numeric", 
                                            minute: "numeric", 
                                            hour12: true 
                                        }).replace(" at", ", ") %></span>
                                    </div> -->
                                    <div class="col-lg-4 col-sm-2 col-4 col-action d-flex justify-content-center">
                                        <a href="#" id="add-product-offer" data-bs-toggle="modal" data-bs-target="#product-offer-modal" data-product="<%= product._id%>" class="mx-1 btn btn-sm font-sm rounded btn-warning"> <i class="px-1 icon material-icons md-redeem"></i>Add Offer</a>

                                        <a href="/api/admin/p/edit/<%= product._id %>" class="mx-1 btn btn-sm font-sm btn-light rounded"> <i class="material-icons md-edit"></i> Edit </a>
                                        
                                        <% if(product.isUnListed) { %>
                                            <a href="#" id="unlist-product-btn" data-bs-toggle="modal" data-bs-target="#unlist-product-modal" data-product="<%= JSON.stringify(product) %>" class="mx-1 btn btn-sm font-sm rounded btn-brand"> <i class="material-icons md-delete_forever"></i>List</a>
                                        <% } else {%>
                                            <a href="#" id="unlist-product-btn" data-bs-toggle="modal" data-bs-target="#unlist-product-modal" data-product="<%= JSON.stringify(product) %>" class="mx-1 btn btn-sm font-sm rounded btn-danger"> <i class="material-icons md-delete_forever"></i>Unlist</a>
                                        <% } %>
                                        
                                    </div>
                                </div>
                                <!-- row .// -->
                            </article>
                        <% }); %>
                        <!-- itemlist  .// -->
                        
                        <!-- itemlist  .// -->
                    </div>
                    <!-- card-body end// -->
                </div>

                <!-- unlist product modal -->
                <div class="modal fade" id="unlist-product-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered ">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="unlist-modal-header">Unlist Product?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="alert alert-danger" style="display: none" id="unlist-product-error" role="alert">
                            A simple danger alert—check it out!
                        </div>
                        <div class="modal-body fs-6" id ="unlist-modal-content"> Hello
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form action="#" method="POST" id= "confirm-unlist-form">
                                <button type="submit" class="btn btn-danger" id="confirm-unlist-btn" >Confirm Unlist</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>

                <!-- card end// -->
                <div class="pagination-area mt-30 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">

                            <% if (page > 1) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= page - 1 %>"><i class="material-icons md-chevron_left"></i></a>
                                </li>
                            <% } %>
                            
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= page === i ? 'active' : '' %>"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
                            <% } %>

                            <% if (page < totalPages) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= page + 1 %>"><i class="material-icons md-chevron_right"></i></a>
                                </li>
                            <% } %>

                        </ul>
                    </nav>
                </div>
            </section>

            <div class="modal fade" id="product-offer-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add a product offer</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body px-4 card" id ="delete-modal-content"> 
                            <div class="col-md-12">
                                <form id="addProductOfferForm">
                                    <div class="mb-4">
                                        <label for="productOfferName" class="form-label">Name</label>
                                        <input type="text" name="productOfferName" placeholder="Type here" class="form-control" id="productOfferName"/>
                                        <div class="invalid-feedback">
                                            Feedback message
                                        </div>
                                    </div>
                                    
                                    <div class="d-flex mx-2 gap-3 justify-content-center align-items-center">
                                        <div class="mb-0 col-6">
                                            <label class="form-label" for="productOfferIsPercentage">isPercentage? : </label>
                                            <input type="checkbox" name="productOfferIsPercentage" id="productOfferIsPercentage" class="form-check-input" checked>
                                        </div>

                                        <div class="mb-4 col-6" id= 'productOffer-maxDiscount-div'>
                                            <label class="form-label" for="productOfferMaxDiscount">Maximum Discount</label>
                                            <input type="number" id="productOfferMaxDiscount" name="productOfferMaxDiscount" placeholder="Maximum coupon discount" min="1" class="form-control form-field">
                                            <div class="invalid-feedback">
                                                Feedback message
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex mx-2 gap-3 justify-content-center">
                                        <div class="mb-4 col-6">
                                            <label class="form-label" for="productOfferAmount">Discount Amount</label>
                                            <input type="number" id="productOfferAmount" name="productOfferAmount" placeholder="&lt 100 if percentage" min="1" class="form-control form-field">
                                            <div class="invalid-feedback">
                                                Feedback message
                                            </div>
                                        </div>
    
                                        <div class="mb-4 col-6">
                                            <label class="form-label" for="productOfferMinimumValue">Minimum Product Value</label>
                                            <input type="number" id="productOfferMinimumValue" name="productOfferMinimumValue" placeholder="Type here" min="1" class="form-control form-field">
                                            <div class="invalid-feedback">
                                                Feedback message
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <div class="d-flex mx-2 gap-3 justify-content-center">
                                        <div class="mb-4 col-6">
                                            <label class="form-label" for="productOfferStartDate">Valid from: </label>
                                            <input type="date" name="productOfferStartDate" id="productOfferStartDate" class="form-control form-field">
                                            <div class="invalid-feedback">
                                                Feedback message
                                            </div>
                                        </div>
    
                                        <div class="mb-4 col-6">
                                            <label class="form-label" for="productOfferExpiryDate">Expires on: </label>
                                            <input type="date" name="productOfferExpiryDate" id="productOfferExpiryDate" class="form-control form-field">
                                            <div class="invalid-feedback">
                                                Feedback message
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-4">
                                        <label class="form-label" for="productOfferDescription">Description</label>
                                        <textarea placeholder="Type here" class="form-control form-field" id="productOfferDescription" name="productOfferDescription"></textarea>
                                        <div class="invalid-feedback">
                                            Feedback message
                                        </div>
                                    </div>
                                    
                                    <div class="d-grid">
                                        <button class="btn btn-primary" type="submit">Apply Changes</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>

        <script type="module">

            import {
                emptyFieldCheck,
                hasMinimumLength,
                hasMaximumLength,
                setError,
                setSuccess,
                isEmpty,
                triggerToast
            } from "/assets/js/fetch/validationHelpers.js"

            document.addEventListener('DOMContentLoaded', addProductOffer());



            function addProductOffer() {
                const addProductModal = document.getElementById('product-offer-modal');
                let productId;
                const fields = {
                    offerName: document.getElementById("productOfferName"),
                    isPercentage: document.getElementById("productOfferIsPercentage"),
                    offerAmount: document.getElementById("productOfferAmount"),
                    maxDiscount: document.getElementById("productOfferMaxDiscount"),
                    minimumValue: document.getElementById("productOfferMinimumValue"),
                    offerStartDate: document.getElementById("productOfferStartDate"),
                    offerExpiryDate: document.getElementById("productOfferExpiryDate"),
                    offerDescription: document.getElementById("productOfferDescription")
                }
                
                addProductModal.addEventListener('show.bs.modal', function(e) {
                    const button = e.relatedTarget;
                    productId = button.dataset.product;
                })


                fields.isPercentage.addEventListener('change', function () {

                    if (this.checked) {
                        document.getElementById('productOffer-maxDiscount-div').classList.remove('d-none')
                    } else {
                        document.getElementById('productOffer-maxDiscount-div').classList.add('d-none')
                    }

                });

                fields.offerStartDate.min = new Date().toISOString().split('T')[0];
                fields.offerExpiryDate.min = new Date().toISOString().split('T')[0];

                
                
                //==================== blur validations ====================//

                // validation for empty field
                emptyFieldCheck("blur", ...document.querySelectorAll(".form-field"));


                //minimum maximum length validation
                fields.offerName.addEventListener("blur", function() {
                    if (isEmpty(this)) {
                        return setError(this, "field cant be empty");
                    }
                    
                    if (!hasMinimumLength(this, 6)){
                        return setError(this, "minimum 6 characters");
                    }
                    
                    if (!hasMaximumLength(this, 30)){
                        return setError(this, "maximum 30 characters");
                    }
                })
                

                fields.offerExpiryDate.addEventListener("blur", function() {
                    if (fields.offerStartDate.value && this.value < fields.offerStartDate.value) {
                        return setError(this, "select a higher date than start date");
                    }
                })


                fields.offerStartDate.addEventListener("blur", function() {
                    if (fields.offerExpiryDate.value && this.value > fields.offerExpiryDate.value) {
                        return setError(this, "select a lower date than expiry date");
                    }
                })


                //cross field validations
                fields.offerAmount.addEventListener("blur", function(){
                    
                    if (fields.isPercentage.checked) {
                        if(this.value.trim() > 100 || this.value.trim() < 0){
                            setError(this, "Invalid percentage value");
                            return;
                        }
                    } else {
                        if (this.value.trim() <= fields.minimumValue.value.trim()) {
                            setError(this, "Discount amount should be less than cart value");
                            return;
                        }
                    }

                });


                fields.maxDiscount.addEventListener('blur', function() {

                    if (fields.minimumValue.value.trim() && Number(fields.minimumValue.value.trim()) <= Number(this.value.trim())) {
                        setError(this, "not that much discount Mr Admin!");
                        return;
                    }

                });


                fields.minimumValue.addEventListener('blur', function() {

                    if (fields.maxDiscount.value.trim() && Number(fields.maxDiscount.value.trim()) >= Number(this.value.trim())) {
                        setError(this, "higher cart value please!");
                        return false;
                    }

                });

                document.getElementById("addProductOfferForm").addEventListener("submit", async function(e){

                    e.preventDefault();

                    if (!emptyFieldCheck("submit", ...document.querySelectorAll(".form-field"))){
                        return;
                    }

                    
                    function submitValidations(fields) {

                        if (isEmpty(this)) {
                            return setError(this, "field cant be empty");
                        }
                        
                        if (!hasMinimumLength(this, 6)){
                            return setError(this, "minimum 6 characters");
                        }
                        
                        if (!hasMaximumLength(this, 30)){
                            return setError(this, "maximum 30 characters");
                        }
                        
                        setSuccess(this);

                    }

                    const formData = new FormData(this);

                    const payload = Object.fromEntries(formData);
                    payload.type = 'product';
                    payload.productId = productId;
                    console.log({payload});

                    const response = await fetch("/api/admin/offers", {
                        method: "POST",
                        headers: {"Content-Type" : "application/json"},
                        body: JSON.stringify(payload)
                    })

                    const data = await response.json();
                    location.reload();
                    console.log(data);

                })
            }

            // unlist product
            const unlistProductBtn = document.querySelectorAll("#unlist-product-btn");
            unlistProductBtn.forEach((button) => {

                button.addEventListener("click", async function(){
                    const prod = this.getAttribute("data-product");
                    const product = JSON.parse(prod);
                    console.log(product);
                    console.log(product.isUnListed);
                    const form = document.getElementById("confirm-unlist-form")

                    if (product.isUnListed){

                        document.getElementById("unlist-modal-header").textContent = "List Product?";
                        document.getElementById("unlist-modal-content").textContent = `Are you sure you want to List the product : ${product.productname}?`;
                        document.getElementById("confirm-unlist-btn").className = "btn btn-success text-white";
                        document.getElementById("confirm-unlist-btn").textContent = "List Product";
                        form.action = `/api/admin/p/edit/${product._id}`

                    }else {

                        document.getElementById("unlist-modal-header").textContent = "Unlist Product?";
                        document.getElementById("unlist-modal-content").textContent = `Are you sure you want to Unlist the product : ${product.productname}?`;
                        document.getElementById("confirm-unlist-btn").className = "btn btn-danger";
                        document.getElementById("confirm-unlist-btn").textContent = "Unlist Product";
                        form.action = `/api/admin/p/edit/${product._id}/unlist`

                    }

                    // document.getElementById("confirm-unlist-form").addEventListener("submit", async (e) => {
                    //     e.preventDefault();

                    //     const payload = category.isUnListed ? "To List" : "To Unlist" ; 
                        
                    //     const response = await fetch(`/api/admin/c/unlist/${category._id}`, {
                    //         method : "POST",
                    //         headers : { "Content-Type" : "application/json" },
                    //         body : JSON.stringify({payload})
                    //     });

                    //     const data = await response.json();

                    //     if (!data.success){
                            
                    //         document.getElementById("unlist-category-error").textContent = data.error;
                    //         document.getElementById("unlist-category-error").className = "alert alert-danger";
                    //         document.getElementById("unlist-category-error").style.display = "block";
                        
                    //     }else{

                    //         document.getElementById("unlist-category-error").textContent = data.message;
                    //         document.getElementById("unlist-category-error").className = "alert alert-success";
                    //         document.getElementById("unlist-category-error").style.display = "block";
                    //         setTimeout(() => {
                    //             location.reload();
                    //         }, 1000);

                    //     }
                    // })

                })
            })


        </script>
        <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script>
            $('#product-offer-modal').on('hidden.bs.modal', function () {
                const modal = $(this);
                modal.find('.is-invalid, .is-valid').removeClass('is-invalid is-valid');
            });
        </script>
        <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/vendors/select2.min.js"></script>
        <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/assets/js/main.js" type="text/javascript"></script>
    </body>
</html>
