<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nest Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg" />
        <!-- Template CSS -->
        <link href="/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />

        <style>
            .disabled-div {
                pointer-events: none; /* Blocks all mouse interactions */
                opacity: 0.6;         /* Visually dims the content */
                cursor: not-allowed;  /* Optional: Changes cursor to indicate disabled state */
            }
        </style>
    </head>

    <body>
        <div class="screen-overlay"></div>
        
        <%- include(`./partials/admin/aside`) %>

        <main class="main-wrap">
            
            <%- include(`./partials/admin/header`) %>

            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Products List</h2>
                        <span>Manage <h6 class="d-inline-block"><%= pagination.totalDocs %></h6> Products</span>
                    </div>
                    <div>
                        <a href="#" class="btn btn-light rounded font-md">Export</a>
                        <a href="#" class="btn btn-light rounded font-md">Import</a>
                        <a href="#" class="btn btn-primary btn-sm rounded">Create new</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row align-items-center">
                            <div class="col col-check flex-grow-0">
                                <div class="form-check ms-2">
                                    <input class="form-check-input" type="checkbox" value="" />
                                </div>
                            </div>
                            <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                                <select class="form-select">
                                    <option selected>All category</option>
                                    <option>Electronics</option>
                                    <option>Clothes</option>
                                    <option>Automobile</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-6">
                                <input type="date" value="02.05.2021" class="form-control" />
                            </div>
                            <div class="col-md-2 col-6">
                                <select class="form-select">
                                    <option selected>Status</option>
                                    <option>Active</option>
                                    <option>Disabled</option>
                                    <option>Show all</option>
                                </select>
                            </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <% productdata.forEach(product => { %>
                            <article class="itemlist">
                                <div class="row align-items-center">
                                    <!-- <div class="col col-check flex-grow-0">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" />
                                        </div>
                                    </div> -->
                                    <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                        <a class="itemside" href="#">
                                            <div class="left">
                                                <img src="../../<%= product.images[0] %>" class="img-sm img-thumbnail" alt="Item" />
                                            </div>
                                            <div class="info">
                                                <h6 class="mb-0"><%= product.productname %></h6>
                                                <% if(product.isUnListed) { %>
                                                    <span class="badge rounded-pill alert-danger mt-1">Unlisted</span>
                                                <% } else {%>
                                                    <span class="badge rounded-pill alert-success mt-1">Active</span>
                                                <% } %>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-4 col-price"><span>₹<%= product.price %></span></div>

                                    <div class="col-lg-2 col-sm-2 col-4 col-price">
                                        <% if(product.productOffer) { %>
                                            <!-- <div> -->
                                                <a class="badge rounded-pill alert-info mt-1" data-bs-toggle="modal" data-bs-target="#edit-offer-modal" data-offer="<%= JSON.stringify(product.productOffer) %>">
                                                    <%= product.productOffer.name%>
                                                </a>
                                            <!-- </div> -->
                                            <span class="small text-secondary"> | <%= product.productOffer.description%></span>
                                        <% } else {%>
                                            <div>
                                                <a class="badge rounded-pill alert-warning mt-1">
                                                    No product offer
                                                </a>
                                            </div>
                                        <% } %>
                                    </div>

                                    
                                    
                                    <div class="dropdown col-lg-4 col-sm-2 col-4 text-end">
                                        <button class="btn alert-light" data-bs-toggle="dropdown">
                                            <i class="material-icons md-more_vert"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a href="#" id="add-product-offer" data-bs-toggle="modal" data-bs-target="#product-offer-modal" data-product="<%= product._id%>" class="dropdown-item ms-1 rounded font-sm"> <i class="px-1 icon material-icons md-redeem"></i>Add Offer</a>

                                            <a href="/api/admin/p/edit/<%= product._id %>" class="dropdown-item ms-1 rounded font-sm"> <i class="material-icons md-edit"></i> Edit </a>


                                            <% if(product.isUnListed) { %>
                                                <a href="#" id="unlist-product-btn" data-bs-toggle="modal" data-bs-target="#unlist-product-modal" data-product="<%= JSON.stringify(product) %>" class="dropdown-item ms-1 rounded font-sm"> <i class="material-icons md-delete_forever"></i>List</a>
                                            <% } else {%>
                                                <a href="#" id="unlist-product-btn" data-bs-toggle="modal" data-bs-target="#unlist-product-modal" data-product="<%= JSON.stringify(product) %>" class="dropdown-item ms-1 rounded font-sm"> <i class="material-icons md-delete_forever"></i>Unlist</a>
                                            <% } %>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-4 col-sm-2 col-4 col-action d-flex justify-content-center">
                                        <a href="#" id="add-product-offer" data-bs-toggle="modal" data-bs-target="#product-offer-modal" data-product="<%# product._id%>" class="mx-1 btn btn-sm font-sm rounded btn-warning"> <i class="px-1 icon material-icons md-redeem"></i>Add Offer</a>

                                        <a href="/api/admin/p/edit/<%# product._id %>" class="mx-1 btn btn-sm font-sm btn-light rounded"> <i class="material-icons md-edit"></i> Edit </a>
                                        
                                        <%# if(product.isUnListed) { %>
                                            <a href="#" id="unlist-product-btn" data-bs-toggle="modal" data-bs-target="#unlist-product-modal" data-product="<%# JSON.stringify(product) %>" class="mx-1 btn btn-sm font-sm rounded btn-brand"> <i class="material-icons md-delete_forever"></i>List</a>
                                        <%# } else {%>
                                            <a href="#" id="unlist-product-btn" data-bs-toggle="modal" data-bs-target="#unlist-product-modal" data-product="<%# JSON.stringify(product) %>" class="mx-1 btn btn-sm font-sm rounded btn-danger"> <i class="material-icons md-delete_forever"></i>Unlist</a>
                                        <%# } %>
                                        
                                    </div> -->
                                </div>
                                <!-- row .// -->
                            </article>
                        <% }); %>
                        <!-- itemlist  .// -->
                        
                        <!-- itemlist  .// -->
                    </div>
                    <!-- card-body end// -->
                </div>

                <!-- unlist product modal -->
                <div class="modal fade" id="unlist-product-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered ">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="unlist-modal-header">Unlist Product?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="alert alert-danger" style="display: none" id="unlist-product-error" role="alert">
                            A simple danger alert—check it out!
                        </div>
                        <div class="modal-body fs-6" id ="unlist-modal-content"> Hello
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form action="#" method="POST" id= "confirm-unlist-form">
                                <button type="submit" class="btn btn-danger" id="confirm-unlist-btn" >Confirm Unlist</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>

                <!-- card end// -->
                <%- include('./partials/admin/pagination.ejs') %>

            </section>

            <div class="modal fade" id="product-offer-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add a product offer</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body px-4 card" id ="delete-modal-content"> 
                            <div class="col-md-12">
                                <form id="addProductOfferForm">
                                    <div class="mb-4">
                                        <label for="productOfferName" class="form-label">Name</label>
                                        <input type="text" name="productOfferName" placeholder="Type here" class="form-control" id="productOfferName"/>
                                        <div class="invalid-feedback">
                                            Feedback message
                                        </div>
                                    </div>
                                    
                                    <div class="d-flex mx-2 mb-2 gap-3 justify-content-center align-items-center">
                                        <div class="mb-0 col-6">
                                            <label class="form-label" for="productOfferIsPercentage">isPercentage? : </label>
                                            <input type="checkbox" name="productOfferIsPercentage" id="productOfferIsPercentage" class="form-check-input" checked>
                                        </div>
                                    </div>

                                    <div class="d-flex mx-2 gap-3 justify-content-center">
                                        <div class="mb-4 col-6">
                                            <label class="form-label" for="productOfferAmount">Discount Amount</label>
                                            <input type="number" id="productOfferAmount" name="productOfferAmount" placeholder="&lt 100 if percentage" min="1" class="form-control form-field">
                                            <div class="invalid-feedback">
                                                Feedback message
                                            </div>
                                        </div>

                                        <div class="mb-4 col-6" id= 'productOffer-maxDiscount-div'>
                                            <label class="form-label" for="productOfferMaxDiscount">Maximum Discount</label>
                                            <input type="number" id="productOfferMaxDiscount" name="productOfferMaxDiscount" placeholder="Maximum coupon discount" min="1" class="form-control">
                                            <div class="invalid-feedback">
                                                Feedback message
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <div class="d-flex mx-2 gap-3 justify-content-center">
                                        <div class="mb-4 col-6">
                                            <label class="form-label" for="productOfferStartDate">Valid from: </label>
                                            <input type="date" name="productOfferStartDate" id="productOfferStartDate" class="form-control form-field">
                                            <div class="invalid-feedback">
                                                Feedback message
                                            </div>
                                        </div>
    
                                        <div class="mb-4 col-6">
                                            <label class="form-label" for="productOfferExpiryDate">Expires on: </label>
                                            <input type="date" name="productOfferExpiryDate" id="productOfferExpiryDate" class="form-control form-field">
                                            <div class="invalid-feedback">
                                                Feedback message
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-4">
                                        <label class="form-label" for="productOfferDescription">Description</label>
                                        <textarea placeholder="Type here" class="form-control form-field" id="productOfferDescription" name="productOfferDescription"></textarea>
                                        <div class="invalid-feedback">
                                            Feedback message
                                        </div>
                                    </div>
                                    
                                    <div class="d-grid">
                                        <button class="btn btn-primary" type="submit">Apply Changes</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="edit-offer-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Offer</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body px-4 card" id ="delete-modal-content"> 
                            <div class="col-md-12">
                                <form id="editOfferForm">
                                    <div class="mb-4">
                                        <label for="editOfferName" class="form-label">Name</label>
                                        <input type="text" name="editOfferName" placeholder="Type here" class="form-control" id="editOfferName"/>
                                        <div class="invalid-feedback">
                                            Feedback message
                                        </div>
                                    </div>
                                    
                                    <div class="d-flex mx-2 gap-3 justify-content-center align-items-center">
                                        <div class="mb-0 col-6">
                                            <label class="form-label" for="editIsPercentage">isPercentage? : </label>
                                            <input type="checkbox" name="editIsPercentage" id="editIsPercentage" class="form-check-input" checked>
                                        </div>
                                    </div>

                                    <div class="d-flex mx-2 gap-3 justify-content-center">
                                        <div class="mb-4 col-6">
                                            <label class="form-label" for="editOfferAmount">Discount Amount</label>
                                            <input type="number" id="editOfferAmount" name="editOfferAmount" placeholder="&lt 100 if percentage" min="1" class="form-control form-field edit-offer">
                                            <div class="invalid-feedback">
                                                Feedback message
                                            </div>
                                        </div>

                                        <div class="mb-4 col-6" id= 'edit-maxDiscount-div'>
                                            <label class="form-label" for="editMaxDiscount">Maximum Discount</label>
                                            <input type="number" id="editMaxDiscount" name="editMaxDiscount" placeholder="Maximum coupon discount" min="1" class="form-control form-field edit-offer">
                                            <div class="invalid-feedback">
                                                Feedback message
                                            </div>
                                        </div>

                                    </div>

                                    
                                    <div class="d-flex mx-2 gap-3 justify-content-center">
                                        <div class="mb-4 col-6">
                                            <label class="form-label" for="editOfferStartDate">Valid from: </label>
                                            <input type="date" name="editOfferStartDate" id="editOfferStartDate" class="form-control form-field edit-offer">
                                            <div class="invalid-feedback">
                                                Feedback message
                                            </div>
                                        </div>
    
                                        <div class="mb-4 col-6">
                                            <label class="form-label" for="editOfferExpiryDate">Expires on: </label>
                                            <input type="date" name="editOfferExpiry" id="editOfferExpiryDate" class="form-control form-field edit-offer">
                                            <div class="invalid-feedback">
                                                Feedback message
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-4">
                                        <label class="form-label" for="editOfferDescription">Description</label>
                                        <textarea placeholder="Type here" class="form-control form-field edit-offer" id="editOfferDescription" name="editOfferDescription"></textarea>
                                        <div class="invalid-feedback">
                                            Feedback message
                                        </div>
                                    </div>
                                    
                                    <div class="d-grid">
                                        <button class="btn btn-primary" type="submit">Apply Changes</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>

        <script type="module">

            import {
                emptyFieldCheck,
                hasMinimumLength,
                hasMaximumLength,
                setError,
                setSuccess,
                isEmpty,
                triggerToast
            } from "/assets/js/fetch/validationHelpers.js"

            document.addEventListener('DOMContentLoaded', addProductOffer());
            document.addEventListener('DOMContentLoaded', editOffer());

            function editOffer() {
                const fields = {
                    offerName: document.getElementById("editOfferName"),
                    isPercentage: document.getElementById("editIsPercentage"),
                    offerAmount: document.getElementById("editOfferAmount"),
                    maxDiscount: document.getElementById("editMaxDiscount"),
                    offerStartDate: document.getElementById("editOfferStartDate"),
                    offerExpiryDate: document.getElementById("editOfferExpiryDate"),
                    offerDescription: document.getElementById("editOfferDescription")
                }
                
                const editOfferModal = document.getElementById('edit-offer-modal');
                let offerId;


                //==================== pre-populate edit offer modal ====================// 
                editOfferModal.addEventListener('show.bs.modal', function(e) {
                    const button = e.relatedTarget;
                    const offer = JSON.parse(button.dataset.offer);
                    offerId = offer._id;
                    console.log(offer);
                    fields.offerName.value = offer.name;
                    fields.isPercentage.checked = offer.isPercent;
                    fields.offerAmount.value = offer.offerAmount;
                    fields.maxDiscount.value = offer.maxDiscount;
                    fields.offerStartDate.valueAsDate = new Date(offer.validFrom);
                    fields.offerExpiryDate.valueAsDate = new Date(offer.expiry);
                    fields.offerDescription.value = offer.description;
                    
                    if (fields.isPercentage.checked) {
                        document.getElementById('edit-maxDiscount-div').classList.remove('disabled-div');
                    } else {
                        document.getElementById('edit-maxDiscount-div').classList.add('disabled-div');
                    }
                })




                //remove validation errors when closing modal
                editOfferModal.addEventListener('hidden.bs.modal', function() {
                    const elements = editOfferModal.querySelectorAll('.is-valid, .is-invalid');
                    elements.forEach(el => {
                        el.classList.remove('is-valid', 'is-invalid');
                    });
                })




                // toggle max discount wrt isPercentage
                fields.isPercentage.addEventListener('change', function () {

                    if (this.checked) {
                        document.getElementById('edit-maxDiscount-div').classList.remove('disabled-div')
                    } else {
                        document.getElementById('edit-maxDiscount-div').classList.add('disabled-div')
                    }

                })




                //disable previous dates
                fields.offerStartDate.min = new Date().toISOString().split('T')[0];
                fields.offerExpiryDate.min = new Date().toISOString().split('T')[0];

                

                //==================== blur validations ====================//

                
                // validation for empty field
                emptyFieldCheck("blur", ...document.querySelectorAll(".form-field.edit-offer"));


                //minimum maximum length validation
                fields.offerName.addEventListener("blur", function() {
                    if (isEmpty(this)) {
                        return setError(this, "field cant be empty");
                    }
                    
                    if (!hasMinimumLength(this, 6)){
                        return setError(this, "minimum 6 characters");
                    }
                    
                    if (!hasMaximumLength(this, 30)){
                        return setError(this, "maximum 30 characters");
                    }
                })
                

                fields.offerExpiryDate.addEventListener("blur", function() {
                    if (fields.offerStartDate.value && this.value < fields.offerStartDate.value) {
                        return setError(this, "select a higher date than start date");
                    }
                })


                fields.offerStartDate.addEventListener("blur", function() {
                    if (fields.offerExpiryDate.value && this.value > fields.offerExpiryDate.value) {
                        return setError(this, "select a lower date than expiry date");
                    }
                })


                //cross field validations
                fields.offerAmount.addEventListener("blur", function(){
                    
                    if (fields.isPercentage.checked) {
                        if(this.value.trim() > 100 || this.value.trim() < 0){
                            setError(this, "Invalid percentage value");
                            return;
                        }
                    }

                });


                


                document.getElementById("editOfferForm").addEventListener("submit", async function(e){

                    e.preventDefault();

                    if (fields.isPercentage.checked){
                        if(!emptyFieldCheck("submit", ...document.querySelectorAll(".form-field.edit-offer"))){
                            return;
                        };
                    } else {
                        if(!emptyFieldCheck("submit", ...document.querySelectorAll(".form-field.edit-offer:not(#editMaxDiscount)"))){
                            return;
                        };
                    };


                    let isValid = submitValidations(fields);

                    if (!isValid) {
                        document.querySelector('.is-invalid')?.focus();
                        return;
                    }

                    const formData = new FormData(this);

                    const payload = Object.fromEntries(formData);
                    payload.type = 'product';
                    payload._id = offerId;
                    console.log({payload});

                    const response = await fetch("/api/admin/offers", {
                        method: "PATCH",
                        headers: {"Content-Type" : "application/json"},
                        body: JSON.stringify(payload)
                    })

                    const data = await response.json();
                    location.reload();
                    console.log(data);

                })

                function submitValidations(fields) {
                    let isValid = true;

                    [fields.offerName].forEach(field => {
                    
                        if (isEmpty(field)) {
                            setError(field, "field cant be empty");
                            isValid = false;
                        } else if (!hasMinimumLength(field, 6)) {
                            setError(field, "minimum 6 characters");
                            isValid = false;
                        } else if (!hasMaximumLength(field, 15)) {
                            setError(field, "maximum 15 characters");
                            isValid = false;
                        }

                    });


                    if (fields.isPercentage.checked) {
                    
                        if (fields.offerAmount.value.trim() > 100 || fields.offerAmount.value.trim() < 0) {
                            setError(fields.offerAmount, "Invalid percentage value");
                            isValid = false;
                        }

                    }


                    if (fields.offerExpiryDate.value < fields.offerStartDate.value) {
                        setError(fields.offerExpiryDate, "select a higher date than start date")
                        isValid = false;
                    }

                    return isValid
                    
                };

            }



            function addProductOffer() {
                const addProductModal = document.getElementById('product-offer-modal');
                let productId;
                const fields = {
                    offerName: document.getElementById("productOfferName"),
                    isPercentage: document.getElementById("productOfferIsPercentage"),
                    offerAmount: document.getElementById("productOfferAmount"),
                    maxDiscount: document.getElementById("productOfferMaxDiscount"),
                    offerStartDate: document.getElementById("productOfferStartDate"),
                    offerExpiryDate: document.getElementById("productOfferExpiryDate"),
                    offerDescription: document.getElementById("productOfferDescription")
                }
                
                addProductModal.addEventListener('show.bs.modal', function(e) {
                    const button = e.relatedTarget;
                    productId = button.dataset.product;
                })


                fields.isPercentage.addEventListener('change', function () {

                    if (this.checked) {
                        document.getElementById('productOffer-maxDiscount-div').classList.remove('disabled-div');
                    } else {
                        document.getElementById('productOffer-maxDiscount-div').classList.add('disabled-div');
                    }

                });

                fields.offerStartDate.min = new Date().toISOString().split('T')[0];
                fields.offerExpiryDate.min = new Date().toISOString().split('T')[0];

                
                
                //==================== blur validations ====================//

                // validation for empty field
                emptyFieldCheck("blur", ...document.querySelectorAll(".form-field"));


                //minimum maximum length validation
                fields.offerName.addEventListener("blur", function() {
                    if (isEmpty(this)) {
                        return setError(this, "field cant be empty");
                    }
                    
                    if (!hasMinimumLength(this, 6)){
                        return setError(this, "minimum 6 characters");
                    }
                    
                    if (!hasMaximumLength(this, 30)){
                        return setError(this, "maximum 30 characters");
                    }
                })
                

                fields.offerExpiryDate.addEventListener("blur", function() {
                    if (fields.offerStartDate.value && this.value < fields.offerStartDate.value) {
                        return setError(this, "select a higher date than start date");
                    }
                })


                fields.offerStartDate.addEventListener("blur", function() {
                    if (fields.offerExpiryDate.value && this.value > fields.offerExpiryDate.value) {
                        return setError(this, "select a lower date than expiry date");
                    }
                })


                //cross field validations
                fields.offerAmount.addEventListener("blur", function(){
                    
                    if (fields.isPercentage.checked) {
                        if(this.value.trim() > 100 || this.value.trim() < 0){
                            setError(this, "Invalid percentage value");
                            return;
                        }
                    }

                });


                document.getElementById("addProductOfferForm").addEventListener("submit", async function(e){

                    e.preventDefault();

                    if (!emptyFieldCheck("submit", ...document.querySelectorAll(".form-field"))){
                        return;
                    }

                    
                    function submitValidations(fields) {

                        if (isEmpty(this)) {
                            return setError(this, "field cant be empty");
                        }
                        
                        if (!hasMinimumLength(this, 6)){
                            return setError(this, "minimum 6 characters");
                        }
                        
                        if (!hasMaximumLength(this, 30)){
                            return setError(this, "maximum 30 characters");
                        }
                        
                        setSuccess(this);

                    }

                    // const formData = new FormData(this);

                    // const payload = Object.fromEntries(formData);
                    const payload = {
                        offerName: document.getElementById("productOfferName").value.trim(),
                        isPercentage: document.getElementById("productOfferIsPercentage").checked,
                        offerAmount: document.getElementById("productOfferAmount").value.trim(),
                        maxDiscount: document.getElementById("productOfferMaxDiscount").value.trim(),
                        offerStartDate: document.getElementById("productOfferStartDate").value.trim(),
                        offerExpiry: document.getElementById("productOfferExpiryDate").value.trim(),
                        offerdescription: document.getElementById("productOfferDescription").value.trim()
                    }
                    payload.type = 'product';
                    payload.productId = productId;
                    console.log({payload}); 
                    const response = await fetch("/api/admin/offers", {
                        method: "POST",
                        headers: {"Content-Type" : "application/json"},
                        body: JSON.stringify(payload)
                    })

                    const data = await response.json();
                    location.reload();
                    console.log(data);

                })
            }

            // unlist product
            const unlistProductBtn = document.querySelectorAll("#unlist-product-btn");
            unlistProductBtn.forEach((button) => {

                button.addEventListener("click", async function(){
                    const prod = this.getAttribute("data-product");
                    const product = JSON.parse(prod);
                    console.log(product);
                    console.log(product.isUnListed);
                    const form = document.getElementById("confirm-unlist-form")

                    if (product.isUnListed){

                        document.getElementById("unlist-modal-header").textContent = "List Product?";
                        document.getElementById("unlist-modal-content").textContent = `Are you sure you want to List the product : ${product.productname}?`;
                        document.getElementById("confirm-unlist-btn").className = "btn btn-success text-white";
                        document.getElementById("confirm-unlist-btn").textContent = "List Product";
                        form.action = `/api/admin/p/edit/${product._id}`

                    }else {

                        document.getElementById("unlist-modal-header").textContent = "Unlist Product?";
                        document.getElementById("unlist-modal-content").textContent = `Are you sure you want to Unlist the product : ${product.productname}?`;
                        document.getElementById("confirm-unlist-btn").className = "btn btn-danger";
                        document.getElementById("confirm-unlist-btn").textContent = "Unlist Product";
                        form.action = `/api/admin/p/edit/${product._id}/unlist`

                    }

                    // document.getElementById("confirm-unlist-form").addEventListener("submit", async (e) => {
                    //     e.preventDefault();

                    //     const payload = category.isUnListed ? "To List" : "To Unlist" ; 
                        
                    //     const response = await fetch(`/api/admin/c/unlist/${category._id}`, {
                    //         method : "POST",
                    //         headers : { "Content-Type" : "application/json" },
                    //         body : JSON.stringify({payload})
                    //     });

                    //     const data = await response.json();

                    //     if (!data.success){
                            
                    //         document.getElementById("unlist-category-error").textContent = data.error;
                    //         document.getElementById("unlist-category-error").className = "alert alert-danger";
                    //         document.getElementById("unlist-category-error").style.display = "block";
                        
                    //     }else{

                    //         document.getElementById("unlist-category-error").textContent = data.message;
                    //         document.getElementById("unlist-category-error").className = "alert alert-success";
                    //         document.getElementById("unlist-category-error").style.display = "block";
                    //         setTimeout(() => {
                    //             location.reload();
                    //         }, 1000);

                    //     }
                    // })

                })
            })


        </script>
        <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script>
            $('#product-offer-modal').on('hidden.bs.modal', function () {
                const modal = $(this);
                modal.find('.is-invalid, .is-valid').removeClass('is-invalid is-valid');
            });
        </script>
        <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/vendors/select2.min.js"></script>
        <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/assets/js/main.js" type="text/javascript"></script>
    </body>
</html>
